@import '../../../index.scss';

.Button-reusable {
  background: $primary-color;
  color: white;
  border: none;
  font-size: 14px;
  padding: 16px;
  border-radius: 5px;
  &--full {
    width: 100%;
  }
  &--gutter {
    margin: 8px;
  }
}
