// temp
$primary-color: #416788;
$primary-accent: #B5BAD0;
$body-color--light-grey: lightgrey;

body {
  font-family: 'Circular-Pro-Book', sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
  background: #FFF1EE;
  box-sizing: border-box;
}

h1, p, input, button {
  font-family: 'Circular-Pro-Bold', sans-serif !important;
}

a {
  text-decoration: none !important;
  color: black;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.hide {
  display: none;
}

.fullWidth {
  width: 100%;
}